<div class="form-container">
	<%= render "partials/flash_messages" %>
	<%= form_tag login_path do %>
    <h2 class="form-title" id="login-title">Log In</h2>

    <div class="form-section">
      <%= label_tag :email %>
      <%= text_field_tag :email, @email %>
    </div>
    <div class="form-section">
      <%= label_tag :password %>
      <%= password_field_tag :password, @password %>
    </div>
    <div class="submit" id="login-submit">
      <%= submit_tag "Submit" %>
    </div>
  <% end %>
</div>
