<div class="form-container">
	<%= render "partials/flash_messages" %>
	<%= form_tag login_path do %>
    <h2 class="form-title" id="login-title">Log In</h2>

    <div class="form-section">
      <%= label_tag :email %>
      <%= text_field_tag :email, @email %>
    </div>
    <div class="form-section" id="login-password">
      <%= label_tag :password %>
      <%= password_field_tag :password, @password %>
    </div>
    <div class="clearfix" id="forgot-password">
      <%= link_to "Forgot password?", new_password_reset_path %>
    </div>
    <div class="form-section" id="remember-me">
      <%= check_box_tag :remember_me %>
      <%= label_tag :remember_me, "Remember Me", id: "remember-me-label" %> 
    </div>
    
    <div class="submit" id="login-submit">
      <%= submit_tag "Submit" %>
    </div>

    <div class="fb-login-button">
      <%= link_to(image_tag("https://pngimage.net/wp-content/uploads/2018/06/login-with-facebook-button-png-transparent-2.png"), '/auth/facebook') %>
    </div>

  <% end %>
</div>
