<div class="form-container">
  <%= form_for @transaction_source do |f| %>
    <% if @transaction_source.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@transaction_source.errors.count, "error") %> prohibited this transaction source from being saved:</h3>
        <ul>
        <% @transaction_source.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h2 class="form-title" id="edit-ts-title">Edit Transaction Source</h2>

    <div class="form-section">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="submit" id="ts-submit">
      <%= f.submit "Save" %>
    </div>

  <% end %>
</div>