<div class="index-container">
  <div id="index-wrapper" class="wrapper clearfix">
    <%= render "partials/flash_messages" %>
    <h2>Transaction Sources</h2>
    <ol>
      <% @transaction_sources.each do |source| %>
        <li class="clearfix">
          <div id="source-name"><%= source.name %></div>
          <div id="source-ud-links">
            <div class="edit-link"><%= link_to 'edit', edit_transaction_source_path(source) %></div>
            <div class="delete-link"><%= link_to 'delete', source, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </div>
        </li>
      <% end %>
    </ol>
    <%= will_paginate %>
  </div>

  <br>

  <p class="create-new-link"><%= link_to 'Back To Home', root_path %></p>
</div>

