<% if logged_in? %>
	<!-- <p id="header-login"><%= link_to 'Logout', logout_path, method: :delete %></p> -->
	<div class="dropdown">
  	<button onclick="showDropdown()" class="dropbtn clearfix"><%= image_tag "new-menu-icon.png", id: "menu-image" %></button>
	  <div id="myDropdown" class="dropdown-content">
	    <%= link_to render(partial: 'partials/menu_item', locals: {text: "Events"}), events_path %>
	    <%= link_to render(partial: 'partials/menu_item', locals: {text: "Performers"}), performers_path %>
	    <%= link_to render(partial: 'partials/menu_item', locals: {text: "Venues"}), venues_path %>
	    <% if current_user.admin? %>
		    <%= link_to render(partial: 'partials/menu_item', locals: {text: "Transaction Sources"}), transaction_sources_path %>
		    <%= link_to render(partial: 'partials/menu_item', locals: {text: "Users"}), users_path %>
	    <% end %>
	    <%= link_to render(partial: 'partials/menu_item', locals: {text: "Settings"}), edit_user_path(current_user) %>
	    <%= link_to render(partial: 'partials/menu_item', locals: {text: "Log Out"}), logout_path, method: :delete %>
	  </div>
	</div>
<% else %>
	<div class="dropdown">
  	<button onclick="showDropdown()" class="dropbtn clearfix"><%= image_tag "new-menu-icon.png", id: "menu-image" %></button>
	  <div id="myDropdown" class="dropdown-content">
	  	<%= link_to render(partial: 'partials/menu_item', locals: {text: "About"}), about_path %>
	    <%= link_to render(partial: 'partials/menu_item', locals: {text: "Contact"}), contact_path %>
	    <%= link_to render(partial: 'partials/menu_item', locals: {text: "Log In"}), login_path %>
	    <%= link_to render(partial: 'partials/menu_item', locals: {text: "Sign Up"}), new_user_path %>
	  </div>
	</div>
<% end %>