<div class="form-container">

  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h2 class="form-title" ><%= form_name %></h2>

    <div class="form-section">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-section">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="form-section">
      <%= f.label :birthdate %>
      <%= f.date_field :birthdate %>
    </div>
    <div class="form-section">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="form-section">
      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="submit">
      <%= f.submit button_text %>
    </div>
  <% end %>
</div>