<div class="show-container" id="user-info-container">
	<%= render "partials/flash_messages" %>
	<div id="user-info">
		<h2 id="welcome-message">Welcome back, <%= @user.first_name %>!</h2>
		<p><%= @user.name %></p>
		<p><%= @user.email %></p>
		<div class="ud-links" id="user-ud-links">
			<%= link_to "edit", edit_user_path(@user) %> | <%= link_to 'delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %> 
		</div>
		<div id="profits-container">
			<p><%= @user.tickets_sold %> tickets sold for a total revenue of <%= @user.total_sale.price %></p>
			<p><%= @user.tickets_purchased %> tickets purchased for a total of <%= @user.total_purchase.price %></p>
			<p>Inventory Count: <%= @user.inventory_count %></p>
			<p>Inventory Value: <%= @user.actual_inventory_value.price %> original | <%= @user.projected_inventory_value.price %> projected</p>
			<p>Projected Profit: <%= @user.projected_profit %></p>
		</div>
	</div>
</div>

<div id="user-lists" class="clearfix">
	<div id="events-wrapper" class="wrapper clearfix">
		<div id="upcoming-events" class="show-container">
			<h3>Upcoming Events</h3>
			<ol>
				<% @upcoming_events.each do |event| %>
					<%= link_to render(partial: 'events/event', locals: {event: event}), user_event_path(@user, event) %>
				<% end %>
			</ol>
		</div>
		<div class="user-list-links">
			<div id="all-events-link"><%= link_to "All My Events", user_events_path(@user) %></div>
			<div id="new-event-link"><%= link_to "New Event", new_event_path %></div>
		</div>
	</div>
	<div id="transactions-wrapper" class="wrapper clearfix">
		<div id="recent-transactions" class="show-container">
			<h3>Recent Transactions</h3>
			<ol>
				<% @recent_transactions.each do |transaction| %>
					<%= link_to render(partial: 'transactions/transaction', locals: {transaction: transaction}), user_transaction_path(@user, transaction) %>
				<% end %>
			</ol>
		</div>
		<div class="user-list-links">
			<div id="all-transactions-link"><%= link_to "All My Transactions", user_transactions_path(@user) %></div>
			<div id="new-transaction-link"><%= link_to "New Transaction", new_user_transaction_path(@user) %></div>
		</div>
	</div>
</div>
