<div class="form-container">
  <%= form_for @event do |f| %>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
        <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h2 class="form-title" id="event-form-title"><%= form_name %></h2>

    <div class="form-section">
      <%= f.label :performer_id, "Performer" %>
      <%= f.select :performer_id, options_for_select(@performers, @performer_id) %>
    </div>

    <div class="form-section">
      <%= label_tag :new_performer, "or Add Performer" %>
      <%= text_field_tag :new_performer %>
    </div>

    <div class="form-section">
      <%= f.label :venue_id, "Venue" %>
      <%= f.select :venue_id, options_for_select(@venues, @venue_id), { include_blank: 'Select Venue' } %>
    </div>

    <div id="add-venue-link">
      <%= link_to "Venue not listed", new_venue_path %>
    </div>

    <div class="form-section">
      <%= f.label :date %>
      <%= f.date_field :date %>
    </div>

    <div class="submit" id="event-form-submit">
      <%= f.submit button_text %>
    </div>

  <% end %> 
</div>