<p id="notice"><%= notice %></p>

<div class="index-container">
  <div id="transactions-wrapper" class="wrapper clearfix">

      <h2><%= @title %></h3>
      <ol>
        <% @events.each do |event| %>
          <% if @user %>
            <%= link_to render(partial: 'events/event', locals: {event: event}), user_transaction_path(@user, event) %>
          <% else %>
            <%= render(partial: 'events/event', locals: {event: event}) %>
          <% end %>
        <% end %>
      </ol>

  </div>

  <br>

  <p class="create-new-link"><%= link_to 'New Event', new_event_path %></p>
</div>
