<div class="index-container">
  <div id="index-wrapper" class="wrapper clearfix">
    <%= render "partials/flash_messages" %>
    <h2><%= @title %></h2>
    <ol>
      <% @events.each do |event| %>
        <% if @user %>
          <%= link_to render(partial: 'events/event', locals: {event: event}), user_event_path(@user, event) %>
        <% elsif current_user.admin? %>
          <%= render(partial: 'events/admin_event', locals: {event: event}) %>
        <% else %>
          <%= render(partial: 'events/event', locals: {event: event}) %>
        <% end %>
      <% end %>
    </ol>
  </div>

  <br>

  <p class="create-new-link"><%= link_to 'New Event', new_event_path %></p>
</div>
