<div class="form-container">
  <%= form_for @venue do |f| %>
    <% if @venue.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@venue.errors.count, "error") %> prohibited this @venue from being saved:</h3>
        <ul>
        <% @venue.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h2 class="form-title" ><%= form_name %></h2>

    <div class="form-section">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-section">
      <%= f.label :location %>
      <%= f.text_field :City %>
    </div>

    <div class="submit">
      <%= f.submit button_text %>
    </div>

  <% end %> 
</div>