<div class="form-container">
  <%= form_for @transaction do |f| %>
    <% if @transaction.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h3>
        <ul>
        <% @transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h2 class="form-title" id="event-form-title"><%= form_name %></h2>

    <!-- User (invisible) -->

    <!-- Direction -->

    <!-- Event -->

    <!-- Price -->

    <!-- Quantity -->

    <!-- Source -->    

    <!-- Notes -->   

    <div class="submit" id="event-form-submit">
      <%= f.submit button_text %>
    </div> 

  <% end %>
</div>