<div class="index-container">
  <div id="index-wrapper" class="wrapper clearfix">
    <%= render "partials/flash_messages" %>
    <div id="transaction-index-title">
      <h2>My Transactions</h2>
      <p><%= @subtitle if @subtitle %></p>
    </div>
    <div class="sort-selectors">
      <%= form_tag(@current_path, method: :get) do %>
        Sort: 
        <%= select_tag(:order_by, options_for_select([["Newest First", "DESC"], ["Oldest First", "ASC"]], params[:order_by])) %>
        <%= select_tag(:filter_by, options_for_select(["All Transactions", "Purchases", "Sales"], params[:filter_by])) %>
        <%= submit_tag "Submit" %>
      <% end %>
    </div>
    <ol>
      <% @transactions.each do |transaction| %>
        <%= link_to render(partial: 'transactions/transaction', locals: {transaction: transaction}), user_transaction_path(@user, transaction) %>
      <% end %>
    </ol>
    <%= will_paginate %>
  </div>

  <br>

  <p class="create-new-link"><%= link_to 'New Transaction', new_user_transaction_path(@user) %></p>
</div>
