<div class="show-container resource-show-container" id="transaction-show-container">
	<%= render "partials/flash_messages" %>
	<div id="transaction-show-header">
		<h2>Transaction <%= @transaction.order_number %></h2>
		<div id="transaction-direction"><%= @transaction.direction %></div>
		<div class="ud-links" id="transaction-ud-links">
			<%= link_to "edit", edit_user_transaction_path(@user, @transaction) %> | <%= link_to 'delete', user_transaction_path(@user, @transaction), method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
	</div>
	<div class="resource-details" id="transaction-details">
		<div class="clearfix" id="transaction-event">
			<p class="title">Event: </p>
			<p class="attribute"><%= link_to @transaction.event.name, user_event_path(@user, @transaction.event) %></p>
		</div>
		<div class="clearfix" id="transaction-price">
			<p class="title">Price: </p>
			<p class="attribute"><%= @transaction.price %></p>
		</div>
		<div class="clearfix" id="transaction-quantity">
			<p class="title">Quantity: </p>
			<p class="attribute"><%= @transaction.quantity %></p>
		</div>
		<div class="clearfix" id="transaction-source">
			<p class="title">Source: </p>
			<p class="attribute"><%= @transaction.transaction_source.name %></p>
		</div>
		<div class="clearfix" id="transaction-date">
			<p class="title">Order Date: </p>
			<p class="attribute"><%= @transaction.formatted_date(:long) %></p>
		</div>
		<div class="clearfix" id="transaction-date">
			<p class="title">Order Number: </p>
			<p class="attribute"><%= @transaction.order_number %></p>
		</div>
		<div class="clearfix" id="transaction-notes">
			<p class="title">Notes: </p>
			<p class="attribute"><%= @notes %></p>
		</div>
	</div>
</div>