<div class="show-container resource-show-container" id="transaction-show-container">
	<h2>Transaction <%= @transaction.order_number %></h2>
	<div id="transaction-direction"><%= @transaction.direction %></div>
	<div class="resource-details" id="transaction-details">
		<div class="clearfix" id="transaction-date">
			<p class="title">Date: </p>
			<p class="attribute"><%= @transaction.formatted_date(:long) %></p>
		</div>
		<div class="clearfix" id="transaction-event">
			<p class="title">Event: </p>
			<p class="attribute"><%= link_to @transaction.event.name, user_event_path(@user, @transaction.event) %></p>
		</div>
		<div class="clearfix" id="transaction-source">
			<p class="title">Source: </p>
			<p class="attribute"><%= @transaction.transaction_source.name %></p>
		</div>
		<div class="clearfix" id="transaction-price">
			<p class="title">Price: </p>
			<p class="attribute"><%= @transaction.price %></p>
		</div>
		<div class="clearfix" id="transaction-quantity">
			<p class="title">Quantity: </p>
			<p class="attribute"><%= @transaction.quantity %></p>
		</div>
		<div class="clearfix" id="transaction-notes">
			<p class="title">Notes: </p>
			<p class="attribute"><%= @transaction.notes || "N/a" %></p>
		</div>
	</div>
</div>