<!DOCTYPE html>
<html>
  <head>
    <title>TicketTrack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p id="header-title"><%= link_to "TicketTrack", root_path %></p>
      <%= render "partials/header_menu" %>
      
    </header>
    <div id="main">
      <%= yield %>
    </div>
    <footer>
      <p id="footer-title">TicketTrack</p>
      <p class="footer-link"><%= link_to "Home", root_path %></p>
      <p class="footer-link"><%= link_to "Sign Up", root_path %></p>
      <p class="footer-link"><%= link_to "About", root_path %></p>
      <p class="footer-link"><%= link_to "Contact", root_path %></p>
    </footer>
  </body>
</html>
